# Core packages
streamlit
pandas
plotly
google-api-python-client
fpdf2
python-dotenv
sqlalchemy
matplotlib
seaborn
pdfplumber
wordcloud
requests
folium
streamlit-folium
numpy
reportlab
streamlit-extras

# Database drivers
pymysql           # For MySQL
psycopg2-binary   # For PostgreSQL
# SQLite is built-in, no extra package needed
